.bigwork
{
    padding: 0px 0px;
}
.bigwork_maintop
{
    height: 1050px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 55px 0px;
    background-color: #2F3841;
}
.bigwork_img
{
    height: 800px;
    width: 100%;
    box-shadow: 4px 10px 20px 16px #1F272F;
    background-image: url(../img/網頁作品整理/恩/3D/coat\ girl.png);
    background-position:center center;
    background-size:cover;

}
.bigwork_des_list
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #FFFFFF;
}
.bigwork_authorimg
{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: #FFFFFF;
}
.bigwork_title
{
    font-size: 32px;
}
.bigwork_title_B
{
    font-size: 32px;
}
.bigwork_mainbottom
{
    background-color:#2F3841;
}
.next
{
    display: none;
}
.pre
{
    display: none;
}
.bigwork_otherwork
{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 200px 200px 0 0;
    padding: 100px 150px 0px 150px;
    color: #FFFFFF;
    margin-top: 100px;
    position: relative;
}
.bigwork_workboxlist
{
    display: flex;
    justify-content: space-between;
}
.bigwork_iconaimlist
{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    padding-bottom: 25px;
    position: relative;
}
.bigwork_iconlist
{
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin-bottom: 50px ;

}
.bigwork_icon
{
    width: 25px;
    height: 25px;
}
.W_workbox_other
{
    margin-top: 30px;
}
.W_workbox_des
{
    color: #000000;
}
.bigwork_aim
{
    position: relative;
    right: -100px;
    width: 50px;
    height: 50px;
}
.bigwork_star
{
    position: absolute;
    right: 250px;
    top: -35px;
    transform: rotate(270deg);

}
@media screen and (max-width: 1460px)
{
    .b4
    {
        display: none;
    }



}
@media screen and (max-width: 1150px)
{
    .b3
    {
        display: none;
    }



}
@media screen and (max-width: 1000px)
{
    .b3
    {
        display: none;
    }
    .W_workbox_other 
    {
        width: 230px;
        height: 230px;
    }



}
@media screen and (max-width: 768px)
{
    button
    {
        position: absolute;
        background-color: rgba(255, 255, 255, 0);
        outline: none;
        border-style:none;
    }
    .next
    {
        right: 10px;
        bottom: 230px;
    }
    .pre
    {
        left: 10px;
        bottom: 230px;
    }

    .bigwork_otherwork
    {
        padding: 100px 30px 0px 30px;
    }
    .bigwork_img 
    {
        height: 400px;
    }
    .bigwork_maintop
    {
        padding: 0px 20px;
        height: 650px;
    }
    .bigwork_aim
    {
        display: none;
    }
    .bigwork_otherwork
    {
        border-radius:50px 50px 0 0;
    }
    .bigwork_iconaimlist
    {
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .bigwork_star
    {
        display: none;
    }
    .bigwork_title_B
    {
        text-align: center;
    }
    .b1
    {
        transition: left 1s ease-in 0s;
    }
    .bigwork_workboxlist
    {
        display: flex;
        position: relative;
        left: 0;
        /* flex-shrink:0; */
        /* justify-content:center; */
        width: 300px;
        height: 300px;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
        transition: left 1s ease-in 0s;
    }
    .back
    {
        flex-shrink:0;
    }
    .back1
    {
        display:flex;
    }
    .back2
    {
        display:flex;
    }
    .W_workbox_other 
    {
        position: relative;
        /* left: -100%; */
        flex-shrink:0;
        width: 300px;
        height: 300px;
    }
    .next
    {
        display: block;
    }
    .pre
    {
        display: block;
    }
}
@media screen and (max-width: 480px)
{
    .offset0
    {
        transition: left 1s ease-in 0s;
        left: 0%;
    }
    .offset
    {
        transition: left 1s ease-in 0s;
        left: -100%;
    }
    .offset1
    {
        transition: left 1s ease-in 0s;
        left: -200%;
    }
    .offset2
    {
        transition: left 1s ease-in 0s;
        left: -300%;
    }
}