.animate1
{
    width: 110px;
    margin-left: 100px;
}
.all
{
    width: 100%;
}
.main_middle_box
{
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 100px 130px;
    margin-top: 60px;
}
.main_middle_context
{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    width: 400px;
    height: 284px;
}
.main_middle_context_top
{
    display: flex;
    align-items: flex-end;
}
.main_middle_context_img
{
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 40px; */
}
.main_middle_context_top_num
{
    font-size: 140px;
    color: rgba(252, 204, 60, 1);
}
.main_middle_context_top_title
{
    font-size: 20px;
}
.main_middle_context_img2
{
    width: 43px;
}
.main_middle_context_img3
{
    width: 43px;
}
.main_middle_context_img4
{
    width: 63px;
}
.main_middle_context_img5
{
    width: 50px;
}
.main_middle_context_middle
{
    margin: 0px;
    margin-bottom: 20px;
}
.icon
{
    width: 30px;
    margin: 40px 30px 60px 0px;
}
.iconlist
{
    display: flex;
    justify-content: end;
    margin-right: 100px;
}
.main_middle_split_phonever
{
    display: none;
}
.line_ab
{
    display: none;
}
@media screen and (max-width: 1300px)
{
    .main_middle_context_img1 
    {
        width: 60px;
    }
    .main_middle_context_img4
    {
        width: 55px;
    }
    .main_middle_context_middle
    {
        margin-bottom: 0px;
    }
}
@media screen and (max-width: 1024px)
{
    .main_middle_box
    {
        padding: 100px 0px;
    }
    .last
    {
        display: none;
    }
}
@media screen and (max-width: 768px)
{
    .iconlist
    {
        justify-content: center;
        margin-right: 0px;
    }
    .main_middle_box
    {
        flex-direction: column;
        align-items: center;
    }
    .main_middle_splite
    {
        display: none;
    }
    .main_middle_split_phonever
    {
        display: block;
        width: 63px;
        margin: 30px 0px;
    }
    .main_middle_context_img1
    {
        /* width: 100px; */
    }
    .main_middle_context
    {
        align-items: center;
    }
    .main_middle_context_middle
    {
        width: 150px;
    }
    .line_ab
    {
        display: block;
        position:absolute;
        left: 90px;
    }
    .animate1
    {
        display: none;
    }
}
@media screen and (max-width: 480px)
{
    .main_middle_box
    {
        margin: 0 27px 10px 27px;
    }
    
    .iconlist
    {
        display: none;
    }
}