.W_P1
{
    background-image: url(../img/網頁作品整理/恩/3D/coat\ girl.png);
    background-position:center center;
    background-size:cover;
}
.W_P2
{
    background-image: url(../img/網頁作品整理/恩/3D/house_1.jpg);
    background-position:left center;
    background-size:cover;
}
.W_P3
{
    background-image: url(../img/網頁作品整理/恩/3D/house_2.jpg);
    background-position:left center;
    background-size:cover;
}
.W_P4
{
    background-image: url(../img/網頁作品整理/恩/3D/house_3.jpg);
    background-position:left center;
    background-size:cover;
}
.W_P5
{
    background-image: url(../img/網頁作品整理/恩/3D/max\ girl&fox.jpg);
    background-position:center center;
    background-size:cover;
}
.W_P6
{
    background-image: url(../img/網頁作品整理/恩/3D/robot.png);
    background-position:center center;
    background-size:cover;
}
.W_P7
{
    background-image: url(../img/網頁作品整理/林/0001-0300\ -\ 0.00.jpg);
    background-position:center center;
    background-size:cover;
}
.W_P8
{
    background-image: url(../img/網頁作品整理/林/01.png);
    background-position:left center;
    background-size:cover;
}
.W_P9
{
    background-image: url(../img/網頁作品整理/林/110AC2030\ 01.jpg);
    background-position:left center;
    background-size:cover;
}
.W_P10
{
    background-image: url(../img/網頁作品整理/林/110AC2030\ 02.jpg);
    background-position:center center;
    background-size:cover;
}
.W_P11
{
    background-image: url(../img/網頁作品整理/林/110AC2030\ 03.jpg);
    background-position:center center;
    background-size:cover;
}
.W_P12
{
    background-image: url(../img/網頁作品整理/林/2.png);
    background-position:left center;
    background-size:cover;
}
.W_P13
{
    background-image: url(../img/網頁作品整理/林/2022_IDA_CKC_IDA\ clip.PNG);
    background-position:left center;
    background-size:cover;
}
.W_P14
{
    background-image: url(../img/網頁作品整理/林/模擬圖.png);
    background-position:left center;
    background-size:cover;
}
.W_P15
{
    background-image: url(../img/網頁作品整理/林/3.jpg);
    background-position:center center;
    background-size:cover;
}
.W_P16
{
    background-image: url(../img/網頁作品整理/林/31p2.png);
    background-position:center center;
    background-size:cover;
}
.W_P17
{
    background-image: url(../img/網頁作品整理/林/418F1T.png);
    background-position:center center;
    background-size:cover;
}
.W_P18
{
    background-image: url(../img/網頁作品整理/林/eevee\ ver1.png);
    background-position:left center;
    background-size:cover;
}
.W_P19
{
    background-image: url(../img/網頁作品整理/林/end.png);
    background-position:center center;
    background-size:cover;
}
.W_P20
{
    background-image: url(../img/網頁作品整理/林/停車庭效果圖\ 525\ 修正一.png);
    background-position:center center;
    background-size:cover;
}
.W2_P1
{
    background-image: url(../img/網頁作品整理/恩/平面/MONET1.png);
    background-position:center center;
    background-size:cover;
}
.W2_P2
{
    background-image: url(../img/網頁作品整理/恩/基礎繪畫/IMG_3615.png);
    background-position:center center;
    background-size:cover;
}
.W2_P3
{
    background-image: url(../img/網頁作品整理/恩/平面/入口型網站1.png);
    background-position:center top;
    background-size:cover;
}
.W2_P4
{
    background-image: url(../img/網頁作品整理/恩/平面/包裝設計.png);
    background-position:center top;
    background-size:cover;
}
.W2_P5
{
    background-image: url(../img/網頁作品整理/恩/平面/電繪厚塗cat1.jpg);
    background-position:center center;
    background-size:cover;
}
.W2_P6
{
    background-image: url(../img/網頁作品整理/恩/平面/電繪厚塗cat2.PNG);
    background-position:center center;
    background-size:cover;
}
.W2_P7
{
    background-image: url(../img/網頁作品整理/恩/基礎繪畫/IMG_3616.png);
    background-position:center center;
    background-size:cover;
}
.W2_P8
{
    background-image: url(../img/網頁作品整理/恩/平面/貼文設計.png);
    background-position:center top;
    background-size:cover;
}
.W2_P9
{
    background-image: url(../img/網頁作品整理/曹書語/同人圖作品/eva.jpg);
    background-position:center center;
    background-size:cover;
}
.W2_P10
{
    background-image: url(../img/網頁作品整理/曹書語/同人圖作品/月獻祭-15.jpg);
    background-position:center center;
    background-size:cover;
}
.W2_P11
{
    background-image: url(../img/網頁作品整理/曹書語/同人圖作品/講電話.jpg);
    background-position:center center;
    background-size:cover;
}
.W2_P12
{
    background-image: url(../img/網頁作品整理/曹書語/同人圖作品/迪亞哥探照8.jpg);
    background-position:center center;
    background-size:cover;
}
.W2_P13
{
    background-image: url(../img/網頁作品整理/曹書語/同人圖作品/飆馬野郎彩色3.jpg);
    background-position:center center;
    background-size:cover;
}
.W2_P14
{
    background-image: url(../img/網頁作品整理/曹書語/Desktop\ -\ 2\ \(1\).png);
    background-position:center top  ;
    background-size:cover;
}
.W2_P15
{
    background-image: url(../img/網頁作品整理/曹書語/天空1.jpg);
    background-position:center center;
    background-size:cover;
}
.W2_P16
{
    background-image: url(../img/網頁作品整理/曹書語/山天空轉.jpg);
    background-position:center center;
    background-size:cover;
}
.W2_P17
{
    background-image: url(../img/網頁作品整理/曹書語/手繪兒童繪本/10_工作區域\ 1.jpg);
    background-position:center center;
    background-size:cover;
}
.W2_P18
{
    background-image: url(../img/網頁作品整理/曹書語/檯燈1.jpg);
    background-position:center center;
    background-size:cover;
}
.W2_P19
{
    background-image: url(../img/網頁作品整理/曹書語/石頭1.jpg);
    background-position:left center;
    background-size:cover;
}
.W2_P20
{
    background-image: url(../img/網頁作品整理/曹書語/素描/蛇.jpg);
    background-position:center bottom;
    background-size:cover;
}

.mp2
{
    background-image: url(../img/196081.jpg);
    background-position:center bottom;
    background-size:cover;
}
.mp1
{
    background-image: url(../img/Group\ 75.svg);
    background-position:center bottom;
    background-size:cover;
}
.mp3
{
    background-image: url(../img/196081.jpg);
    background-position:center bottom;
    background-size:cover;
}